<html>
  <head>
    <title>Organizações Tabajara</title>
    <meta charset="UTF-8">
	<link href="estilos.css" rel="stylesheet" type="text/css">
  </head>
  <body>
	<div id="quadro">
		<div id="cabecalho">
			<img src="tabajara.jpg" align="left" width="150" style="padding-top: 10px; padding-left: 10px;">
			<h1 align="center">Cadastro de Serviço</h1>
		</div>
		<div id="corpo">
			<p style="color: #000000; font-weight: bold;">Dados do Serviço</p>
			<ul>
				<li>Descrição: <%= param.getDescricao()%></li>
				<li>Tipo do Serviço: <%= param.getTipoServico()%></li>
				<li>Data de Realizacação: <%= param.getDataRealizacao()%></li>
				<li>Tempo de Realização: <%= param.getTempoRealizacao()%></li>
				<li>Valor: <%= param.getValorHora()%></li>
			</ul>
		</div>
		<div id="rodape">
			<p class="totais">
				<%= msg%>
			</p>
			
			<a href="/">Voltar ao Menu Principal</a>
		</div>
	</div>
  </body>
</html>