<html>
	<head>
		<title>Organizações Tabajara</title>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1>Lista de Faturas</h1>
		<hr>
		
		<form action="/filtrarFatura" method="post">
				
			<label for="nome_cliente">Nome do Cliente (use % como caracter coringa):</label><br>
			<input type="text" name="nome_cliente" id="nome_cliente" size="30"><br><br>
			
			<input type="submit" name="filtrar" value="Filtrar">
			
		</form>
		
		<a href="/formFatura">Nova Fatura</a> &nbsp;
		<a href="/">Voltar para Tela Principal</a>


		<form action="/gerenciarFatura" method="post">
			<input type="submit" name="acao" value="Excluir">
			<input type="submit" name="acao" value="Atualizar">

			<table border="1">
				<tr>
					<th>Seleção</th>
					<th>ID</th>
					<th>Nome do Cliente</th>
					<th>Descrição do Serviço</th>
					<th>Data de Emissão</th>
					<th>Data de Vencimento</th>
				</tr>
				<% faturas.forEach((f, index) => { %>
				<tr>
					<td><input type="radio" name="id" value="<%= f.id %>"></td>
					<td><%= f.id %></td>
					<td><%= f.nome_cliente %></td>
					<td><%= f.desc_servico %></td>
					<td><%= f.data_emissao %></td>
					<td><%= f.data_vencimento %></td>
				</tr>
				<% }) %>
			</table>
		</form>
	</body>
</html>