<html>
	<head>
		<title>Organizações Tabajara</title>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1>Lista de Clientes</h1>
		<hr>
		
		<form action="/filtrarCliente" method="post">
				
			<label for="nome">Nome (use % como caracter coringa):</label><br>
			<input type="text" name="nome" id="nome" size="30"><br><br>
			
			<input type="submit" name="filtrar" value="Filtrar">
			
		</form>
		
		<a href="/formCliente">Novo Cliente</a> &nbsp;
		<a href="/">Voltar para Tela Principal</a>&nbsp;
		<form action="/gerenciarCliente" method="post">
		<input type="submit" name="acao" value="Excluir">
		<input type="submit" name="acao" value="Atualizar">
		<table border="1">
			<tr>
				<th>Seleção</th>
				<th>CPF</th>
				<th>Nome</th>
				<th>Telefone</th>
				<th>Endereço</th>
			</tr>
	        <% clientes.forEach((c, index) => { %>
			<tr>
				<td><input type="radio" name="cpf" value="<%= c.cpf %>"></td>
				<td><%= c.cpf %></td>
				<td><%= c.nome %></td>
				<td><%= c.telefone %></td>
				<td><%= c.endereco %></td>
			</tr>
			<% }) %>
		</table>
		</form>
	</body>
</html>